{% extends "blog/base.html" %}

{% block content %}
    <h2>New Post</h2>

    <form method="POST" class="post-form">
        <!-- Cross Site Request Forgery Protection -->
        <!-- occurs when malicious site has a link intended to perform some action on your website
             based on the credencials thge user am logged in as -->
        <!-- a script that does something malicious when I am logged in on my Facebook -->
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="save btn btn-default">Submit</button>

    </form>

{% endblock %}